# Lektion 2 - Beispiel 2

Import von Python-Bibliotheken und notwendiger Code für diverse Funktionen

In [1]:
## imports
import math
import pandas as pd

## Der folgende Code dient zur Implementierung der Funktionalität, damit Code ein- und ausgeblendet werden kann.
from IPython.display import HTML, display

toggle_code_str = '''
<form action="javascript:code_toggle()"><input type="submit" id="toggleButton" value="Code ein-/ausblenden"></form>
'''

toggle_code_prepare_str = '''
    <script>
    function code_toggle() {
        if ($('div.cell.code_cell.rendered.selected div.input').css('display')!='none'){
            $('div.cell.code_cell.rendered.selected div.input').hide();
        } else {
            $('div.cell.code_cell.rendered.selected div.input').show();
        }
    }
    </script>

'''

display(HTML(toggle_code_prepare_str + toggle_code_str))

def toggle_code():
    display(HTML(toggle_code_str))


def clean_df(df):
    """Convert datatypes in dataframe to string and remove .0
    """
    df0 = df.copy()
    df0 = df0.astype(str)
    for col in df0.columns:
        df0[col] = df0[col].apply(lambda v: v.replace('.0', ''))
    return df0

# Aufgabentext

Zur Qualitätskontrolle beauftragt Sie Ihr Vorgesetzter, 20 verpackte Zuckerpakete nachzuwiegen. Es ergeben sich folgende Werte (in g):  

492, 497, 478, 482, 499, 512, 503, 511, 499, 504, 508, 496, 502, 500, 499, 500, 507, 502, 500, 499.  

Nutzen Sie das Ihnen bisher bekannten Instrumentarium, um die Messwerte statistisch auszuwerten.

# Lösung

### Mittelwert

$$ \bar{x} = \frac{1}{n} \sum_{i=1}^n{x_i} $$

Für den Mittelwert muss die Summe der Einzelelemente der Rohdaten gebildet und diese dann durch die Anzahl der Elemente geteilt werden.

In [2]:
xquer = (478 + 482 + 492 + 496 + 497 + 499 + 499 + 499 + 499 + 500 + 500 + 
         500 + 502 + 502 + 503 + 504 + 507 + 508 + 511 + 512) / 20

In [3]:
print(xquer)

499.5

### Median

Da n = 20, berechnet sich der Median aus dem Mittelwert der Elemente an den Positionen n / 2 und n / 2 + 1 bzw. den Positionen 10 und 11.

In [4]:
median = (500 + 500) / 2

In [5]:
print(median)

500.0

### Mittlere absolute Abweichung MAD

$$ MAD = \frac{1}{n} \sum_{i=1}^n{ \mid x_i - \bar{x} \mid } $$

Bei der mittleren absoluten Abweichung wird von jedem Element der Mittelwert abgezogen und dann der Absolutwert genommen. Die Absolutwerte werden aufaddiert und dann durch die Anzahl der Elemente geteilt.

In [6]:
mad = (abs(478 - xquer) + abs(482 - xquer) + abs(492 - xquer) + abs(496 - xquer) + 
       abs(497 - xquer) + abs(499 - xquer) + abs(499 - xquer) + abs(499 - xquer) + 
       abs(499 - xquer) + abs(500 - xquer) + abs(500 - xquer) + abs(500 - xquer) + 
       abs(502 - xquer) + abs(502 - xquer) + abs(503 - xquer) + abs(504 - xquer) + 
       abs(507 - xquer) + abs(508 - xquer) + abs(511 - xquer) + abs(512 - xquer)) / 20

In [7]:
print(mad)

5.45

### Varianz

$$ s^2 = \frac{1}{n} \sum_{i=1}^n{ (x_i - \bar{x})^2 } $$

Die Varianz wird ähnlich berechnet wie die mittlere absolute Abweichung, allerdings wird nicht der Absolutwert der Differenz zwischen Einzelelement und Mittelwert genommen, sondern die Differenz wird quadriert. Die Summe der quadrierten Abweichungen wird dann wieder durch die Anzahl der Elemente geteilt.

In [8]:
var = ((492 - xquer)**2 + (497 - xquer)**2 + (478 - xquer)**2 + (482 - xquer)**2 + 
       (499 - xquer)**2 + (512 - xquer)**2 + (503 - xquer)**2 + (511 - xquer)**2 + 
       (499 - xquer)**2 + (504 - xquer)**2 + (508 - xquer)**2 + (496 - xquer)**2 + 
       (502 - xquer)**2 + (500 - xquer)**2 + (499 - xquer)**2 + (500 - xquer)**2 + 
       (507 - xquer)**2 + (502 - xquer)**2 + (500 - xquer)**2 + (499 - xquer)**2) / 20

In [9]:
print(var)

65.35

### Standardabweichung

$$ s = \sqrt{s^2} $$

Bei der Standardabweichung wird die Wurzel aus der Varianz gezogen; hierfür benötigen wir bei der Umsetzung mit Python die oben importierte Bibliothek sqrt.

In [10]:
sd = math.sqrt(var)

In [11]:
print(sd)

8.083934685535256

### Berechnung / Darstellung über eine Tabelle

In [12]:
data = [478, 482, 492, 496, 497, 499, 499, 499, 499, 500, 500, 500, 502, 502, 503, 504, 507, 508, 511, 512]
df_raw = pd.DataFrame()
df_raw['x'] = data
df_raw['x-xquer'] = df_raw['x'] - df_raw['x'].mean()
df_raw['abs(x-xquer)'] = (df_raw['x'] - df_raw['x'].mean()).abs()
df_raw['(x-xquer)**2'] = (df_raw['x'] - df_raw['x'].mean())**2
df_raw.index = range(1, len(df_raw) + 1)
s = df_raw.sum().round(4)
s.name = 'SUMME'
df_raw = df_raw.append(s)
dataframe = clean_df(df_raw)
toggle_code()

__Variante 1: mit Python erstellt__

In [13]:
dataframe

          x x-xquer abs(x-xquer) (x-xquer)**2
1       478   -21.5         21.5       462.25
2       482   -17.5         17.5       306.25
3       492    -7.5          7.5        56.25
4       496    -3.5          3.5        12.25
5       497    -2.5          2.5         6.25
6       499    -0.5          0.5         0.25
7       499    -0.5          0.5         0.25
8       499    -0.5          0.5         0.25
9       499    -0.5          0.5         0.25
10      500     0.5          0.5         0.25
11      500     0.5          0.5         0.25
12      500     0.5          0.5         0.25
13      502     2.5          2.5         6.25
14      502     2.5          2.5         6.25
15      503     3.5          3.5        12.25
16      504     4.5          4.5        20.25
17      507     7.5          7.5        56.25
18      508     8.5          8.5        72.25
19      511    11.5         11.5       132.25
20      512    12.5         12.5       156.25
SUMME  9990       0          109         1307

__Variante 2: mit Markdown erstellt__

|i          |$$x_i$$|$$x_i - \bar{x}$$|$$\mid x_i - \bar{x} \mid$$|$$(x - \bar{x})^2$$|
|---        |---    |---              |---                        |---                |
|1          |492    |-7,5             |7,5                        |56,25              |
|2          |497    |-2,5             |2,5                        |6,25               |
|3          |478    |-21,5            |21,5                       |462,25             |
|4          |482    |-17,5            |17,5                       |306,25             |
|5          |499    |-0,5             |0,5                        |0,25               |
|6          |512    |12,5             |12,5                       |156,25             |
|7          |503    |3,5              |3,5                        |12,25              |
|8          |511    |11,5             |11,5                       |132,25             |
|9          |499    |-0,5             |0,5                        |0,25               |
|10         |504    |4,5              |4,5                        |20,25              |
|11         |508    |8,5              |8,5                        |72,25              |
|12         |496    |-3,5             |3,5                        |12,25              |
|13         |502    |2,5              |2,5                        |6,25               |
|14         |500    |0,5              |0,5                        |0,25               |
|15         |499    |-0,5             |0,5                        |0,25               |
|16         |500    |0,5              |0,5                        |0,25               |
|17         |507    |7,5              |7,5                        |56,25              |
|18         |502    |2,5              |2,5                        |6,25               |
|19         |500    |0,5              |0,5                        |0,25               |
|20         |499    |-0,5             |0,5                        |0,25               |
|**SUMME**  |9990   |0                |109                        |1307               |
|$$\bar{x}$$|499,5  |                 |                           |                   |

In [14]:
## Berechnung Mittelwert
9990 / 20

499.5

In [15]:
## Berechnung MAD
109 / 20

5.45

In [16]:
## Berechnung Varianz
1307 / 20

65.35

In [17]:
## Berechnung Standardabweichung
math.sqrt(1307 / 20)

8.083934685535256